<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirBnb Clone</title>
    <link rel="stylesheet" href="../static/styles/reset.css">
    <link rel="stylesheet" href="../static/styles/4-common.css">
    <link rel="stylesheet" href="../static/styles/3-header.css">
    <link rel="stylesheet" href="../static/styles/6-filters.css">
    <link rel="stylesheet" href="../static/styles/3-footer.css">
    <link rel="icon" href="../static/images/icon.png">
</head>
<body>
    <HEADER></HEADER>

    <DIV class="container">
      <SECTION class="filters">
        <DIV class="locations">
          <H3>States</H3>
          <H4>&nbsp;</H4>
          <DIV class="popover">
            <UL>
            {% for state in states.values()|sort(attribute="name") %}
              <LI><STRONG>{{ state.name }}</STRONG>
                <UL>
                {% for city in state.cities|sort(attribute="name") %}
                  <LI>{{ city.name }}</LI>
                {% endfor %}
                </UL>
              </LI>
            {% endfor %}
            </UL>
          </DIV>

        </DIV><DIV class="amenities">
          <H3>Amenities</H3>
          <H4>&nbsp;</H4>
          <UL class="popover">
          {% for amenity in amenities.values()|sort(attribute="name") %}
            <LI>{{ amenity.name }}</LI>
          {% endfor %}
          </UL>
        </DIV>
        <BUTTON>Search</BUTTON>
      </SECTION>
    </DIV>

    <FOOTER>
      Holberton School
    </FOOTER>
</body>
</html>